@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Luis Costa</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">É apenas um teste Boy!</a>.</p>
</div>
